    <md-card>
      <md-card-subtitle>#angular2 #svg #angular-flex #animations</md-card-subtitle>
      <md-card-title>yuElevated</md-card-title>
      <md-card-content><img md-card-image src="./assets/IMNGN 23-12-16 6.50.23_cleaned.svg">
        <p>is a composition of svg graphics in flex enabled angular 2 shell with simple animations of components displayed in
          router-outlet</p>
      </md-card-content>
      <md-card-actions><button md-button>LIKE</button><button md-button>SHARE</button></md-card-actions>
    </md-card>

    <md-card>
      <md-card-header><img md-card-avatar src="./assets/IMNGN 23-12-16 6.47.23_cleaned.svg">
        <md-card-title>yuElevated</md-card-title>
        <md-card-subtitle>#angular2 #svg #angular-flex #animations</md-card-subtitle>
      </md-card-header><img md-card-lg-image src="./assets/IMNGN 23-12-16 6.50.23_cleaned.svg">
      <md-card-content>
        <p>is a composition of svg graphics in flex enabled angular 2 shell with simple animations of components displayed in
          router-outlet</p>
      </md-card-content>
    </md-card>

<!--<div class="container" fxLayout fxLayout.xs="column" fxLayoutAlign="center" fxLayoutGap="10px" fxLayoutGap.xs="0">
  <div class="item item-4" fxFlex fxFlexOffset="50px" fxFlexOffset.xs="0">
    <md-card>
      <md-card-subtitle>#angular2 #svg #angular-flex #animations</md-card-subtitle>
      <md-card-title>yuElevated</md-card-title>
      <md-card-content><img md-card-image src="./assets/IMNGN 23-12-16 6.50.23_cleaned.svg">
        <p>is a composition of svg graphics in flex enabled angular 2 shell with simple animations of components displayed in
          router-outlet</p>
      </md-card-content>
      <md-card-actions><button md-button>LIKE</button><button md-button>SHARE</button></md-card-actions>
    </md-card>
  </div>
  <div class="item item-5" fxFlex="200px">
    <md-card>
      <md-card-header><img md-card-avatar src="./assets/IMNGN 23-12-16 6.47.23_cleaned.svg">
        <md-card-title>yuElevated</md-card-title>
        <md-card-subtitle>#angular2 #svg #angular-flex #animations</md-card-subtitle>
      </md-card-header><img md-card-lg-image src="./assets/IMNGN 23-12-16 6.50.23_cleaned.svg">
      <md-card-content>
        <p>is a composition of svg graphics in flex enabled angular 2 shell with simple animations of components displayed in
          router-outlet</p>
      </md-card-content>
    </md-card>
  </div>
</div>-->
