


<!--<div class="container" fxLayout fxLayout.xs="column" fxLayoutAlign="center" fxLayoutGap="0px" fxLayoutGap.xs="0px">
  <div class="item item-1" fxFlex="33%">
    <img src="./assets/IMNGN 27-12-16 12.52.22_cleaned.svg" alt="">
  </div>
  <div class="item item-2" fxFlex="33%" fxFlexOrder="3">
    <img src="./assets/IMNGN 27-12-16 12.52.4_cleaned.svg" alt="">
  </div>
  <div class="item item-3" fxFlex="33%">
    <img src="./assets/IMNGN 27-12-16 12.51.13_cleaned.svg" alt="">
  </div>
</div>
<div class="container" fxLayout fxLayout.xs="column" fxLayoutAlign="center" fxLayoutGap="0px" fxLayoutGap.xs="0px">
  <div class="item item-1" fxFlex="33%">
    <img src="./assets/IMNGN 27-12-16 12.47.23_cleaned.svg" alt="">
  </div>
  <div class="item item-2" fxFlex="33%" fxFlexOrder="3">
    <img src="./assets/IMNGN 23-12-16 6.51.31_cleaned.svg" alt="">
  </div>
  <div class="item item-3" fxFlex="33%">
    <img src="./assets/IMNGN 23-12-16 6.50.13_cleaned.svg" alt="">
  </div>
</div>
<div class="container" fxLayout fxLayout.xs="column" fxLayoutAlign="center" fxLayoutGap="0px" fxLayoutGap.xs="0px">
  <div class="item item-1" fxFlex="33%">
    <img src="./assets/IMNGN 23-12-16 6.50.23_cleaned.svg" alt="">
  </div>
  <div class="item item-2" fxFlex="33%" fxFlexOrder="3">
    <img src="./assets/IMNGN 23-12-16 6.49.59_cleaned.svg" alt="">
  </div>
  <div class="item item-3" fxFlex="33%">
    <img src="./assets/IMNGN 23-12-16 6.49.31_cleaned.svg" alt="">
  </div>
</div>-->
