<md-grid-list cols="3">
    <md-grid-tile>
        <img md-card-image src="../assets/IMNGN 23-12-16 6.46.43_cleaned.svg">
    </md-grid-tile>
    <md-grid-tile>
        <img md-card-image src="../assets/IMNGN 23-12-16 6.46.43_cleaned.svg">
    </md-grid-tile>
    <md-grid-tile>
        <img md-card-image src="../assets/IMNGN 23-12-16 6.46.43_cleaned.svg">
    </md-grid-tile>
    <md-grid-tile>
        <img md-card-image src="../assets/IMNGN 23-12-16 6.46.43_cleaned.svg">
    </md-grid-tile>
    <md-grid-tile>
        <img md-card-image src="../assets/IMNGN 23-12-16 6.46.43_cleaned.svg">
    </md-grid-tile>
    <md-grid-tile>
        <img md-card-image src="../assets/IMNGN 23-12-16 6.46.43_cleaned.svg">
    </md-grid-tile>
    <md-grid-tile>
        <img md-card-image src="../assets/IMNGN 23-12-16 6.46.43_cleaned.svg">
    </md-grid-tile>
    <md-grid-tile>
        <img md-card-image src="../assets/IMNGN 23-12-16 6.46.43_cleaned.svg">
    </md-grid-tile>
    <md-grid-tile>
        <img md-card-image src="../assets/IMNGN 23-12-16 6.46.43_cleaned.svg">
    </md-grid-tile>
</md-grid-list>