<div class="container" fxLayout fxLayout.xs="column" fxLayoutAlign="center" fxLayoutGap="10px" fxLayoutGap.xs="0">
  <div class="item item-1" fxFlex="20%">Item 1 - could be a logo. it's first from top on mobile, and left on larger devices taking-up 20% of the width</div>
  <div class="item item-2" fxFlex="20%" fxFlexOrder="3">could be a social links section. it's third from top on mobile, and right on larger devices taking-up 20% of the width</div>
  <div class="item item-3" fxFlex>
    <!-- this is the navigation. it's second from top on mobile, and middle on larger devices taking-up the remaining width -->
    <p>this is the navigation. it's second from top on mobile, and middle on larger devices taking-up the remaining width</p>
    <ul>
      <li>
        <a routerLink="about">about</a>
      </li>
      <li>
        <a routerLink="demo">demo</a>
      </li>
      <li>
        <a href="https://github.com/projekt-kreatywa/angular-flex-kick-off-basic" target="_blank">source</a>
      </li>
    </ul>
  </div>
</div>
<!--<div class="container" fxLayout fxLayout.xs="column" fxLayoutAlign="center" fxLayoutGap="10px" fxLayoutGap.xs="0">
  <div class="item item-4" fxFlex fxFlexOffset="50px" fxFlexOffset.xs="0">Item 4</div>
  <div class="item item-5" fxFlex="200px">Item 5</div>
</div>-->
<div class="container" fxLayout fxLayout.xs="column" fxLayoutAlign="center" fxLayoutGap="10px" fxLayoutGap.xs="0">
  <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column" fxFlex>
    <div fxFlex>
      <h1>
        {{title}}
      </h1>
      <p>i'm above on mobile, and left on larger devices</p>
    </div>
    <div fxFlex>
      <p>i'm below on mobile, and right on larger devices</p>
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
